
<section class="landing">
  <div class="landing-inner">
    <p class="landing-text">A platform for budding enterpreuners</p>
    <h1 class="landing-inner-text">Coming Soon</h1>
    <div class="countdown"></div>
  </div>
</section>

<script src="js/count_script.js"></script>